<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allen.sys.mapper.SysDictTypeMapper" >
  <resultMap id="BaseResultMap" type="com.allen.sys.model.po.SysDictType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_code" property="typeCode" jdbcType="VARCHAR" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
  </resultMap>

  <select id="findList" resultMap="BaseResultMap">
    select
     *
    from sys_dict_type
    WHERE del_flag = '0'
    <if test="typeCode != null and typeCode != ''">
      AND type_code like CONCAT('%', #{typeCode}, '%')
    </if>
    <if test="typeName != null and typeName != ''">
      AND type_name like CONCAT('%', #{typeName}, '%')
    </if>
    ORDER BY create_time DESC
  </select>

</mapper>