<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allen.sys.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.allen.sys.model.po.SysRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
  </resultMap>

  <select id ="findRolePage" resultMap="BaseResultMap">
    SELECT
    t.*
    FROM
    `sys_role` t
    WHERE
    t.del_flag = 0
    <if test="code !=null and code != ''">
      and t.`code` like concat("%",#{code},"%")
    </if>
    <if test="name != null and name !=''">
      AND t.`name`like concat("%",#{name},"%")
    </if>
    ORDER BY
    t.create_time DESC
  </select>

  <select id = "findListByUserId" resultType="com.allen.sys.model.po.SysRole">
        select * from sys_role where enabled = 1 and id in (select role_id from sys_user_role where user_id = #{userId})
    </select>

</mapper>